.clothing-page {
    background-color: #f5f1ed;
}

.clothing-page .navbar {
    position: relative;
    background-color: #292522;
}

.clothing-header {
    padding: 100px 5% 65px;
    text-align: center;
    background-color: #f5f1ed;
}


.clothing-header p {
    font-size: 11px;
    letter-spacing: 3px;
    color: #81766e;
    margin-bottom: 18px;
}


.clothing-header h1 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 64px;
    font-weight: 400;
    color: #302b28;
    margin-bottom: 18px;
}


.clothing-header span {
    font-size: 14px;
    color: #756b63;
}

.clothing-categories {
    padding: 40px 5% 100px;
}


.category-header {
    text-align: center;
    margin-bottom: 45px;
}


.category-header p {
    font-size: 11px;
    letter-spacing: 3px;
    color: #81766e;
    margin-bottom: 15px;
}


.category-header h2 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 42px;
    font-weight: 400;
    color: #302b28;
}

.clothing-category-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;
}

.clothing-category-card {
    position: relative;
    height: 390px;
    overflow: hidden;
    text-decoration: none;
}


.clothing-category-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.5s ease;
}


.clothing-category-card:hover img {
    transform: scale(1.05);
}

.category-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 55px 20px 20px;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.65),
        transparent
    );
    color: white;
}


.category-overlay h3 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 8px;
}


.category-overlay span {
    font-size: 11px;
    letter-spacing: 1px;
}